@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.top__header {
  background-color: #FCFCFC;
  height: 52px;
}

.top__header-style {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  padding: 0;
}

.nav li {
  list-style: none;
  padding-right: 35px;
}

.nav li:last-child {
  padding-right: 0;
}

.city__style {
  display: flex;
}

.city__style p {
  padding-left: 10px;
}

.nav__item a {
  position: relative;
  cursor: pointer;
}

.nav__item a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: #FF6D00;
  transition: width 0.3s;
}

.nav__item a:hover {
  color: #FF6D00;
  transition: 0.3s;
}

.nav__item a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1.5px;
  background-color: #FF6D00;
  transition: width 0.3s;
}

.bot__header-style {
  display: flex;
  justify-content: space-between;
  max-height: 92px;
}

.bot__header-item {
  margin: 27px 0 0 24px;
  max-height: 38px;
}

.bot__header-item img {
  margin-right: 10px;
}

.bot__header-item a {
  font-size: 14px;
  line-height: 21px;
}

.bot__header-item p {
  margin: 0;
  color: #C6C6C6;
  font-size: 10px;
  line-height: 15px;
}

.catalog {
  width: 161px;
  height: 41px;
  background-color: #FF6D00;
  display: block;
  position: relative;
}

.df {
  display: flex;
}

.logo a {
  float: left;
  max-height: 92px;
}

.logo img {
  margin: 25px auto;
}

.search__img {
  max-width: 48px;
  max-height: 48px;
  margin: 22px auto;
}

.notes {
  background-color: #FF6D00;
  height: 65px;
}

.dfsb {
  display: flex;
  justify-content: space-between;
}

.dfsb p {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.dfsb img {
  margin: auto 0;
}

.menu {
  height: 872px;
  width: 100%;
  background: url(/img/background.svg) center no-repeat;
}

.menu__item {
  display: block;
  position: relative;
  min-height: 153px;
  max-height: 153px;
  transition: 0.5s;
  display: block;
  z-index: 0;
}

.menu__item-style {
  margin: 7px 0 0 10px;
}

.menu__item:hover {
  transform: scale(1.15);
  z-index: 2;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.menu__item-big:hover {
  transform: scale(1.15);
  z-index: 2;
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.menu__name {
  min-width: 195px;
  height: 100%;
  max-height: 153px;
  margin: auto 7px;
}

.menu__item-big {
  transition: 0.5s;
  display: block;
  position: relative;
  min-height: 153px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  z-index: 0;
}

.menu__item-big-style {
  margin: 20px 0 10px 115px;
}

.menu-big__name {
  margin: auto 7px;
  text-align: center;
}

.pink {
  background-color: #F3B0A6;
  grid-area: 1/1/4/4;
  border-radius: 10px 0 0 0;
}

.orange {
  background-color: #FF6D00;
  grid-area: 1/4/4/7;
}

.biege {
  background-color: #EBA144;
  grid-area: 1/7/6/10;
  border-radius: 0 10px 0 0;
}

.corall {
  background-color: #C7563D;
  grid-area: 4/1/7/4;
}

.violet {
  background-color: #561F51;
  grid-area: 4/4/9/7;
}

.yellow {
  background-color: #FFCD00;
  grid-area: 6/7/9/10;
}

.blue-light {
  background-color: #B3E3EB;
  grid-area: 7/1/12/4;
  border-radius: 0 0 0 10px;
}

.yellow-dark {
  background-color: #FFB300;
  grid-area: 9/4/12/7;
}

.blue {
  background-color: #80E0EF;
  grid-area: 9/7/12/10;
  border-radius: 0 0 10px 0;
}

.circle {
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}

.img__item {
  z-index: 1;
}

.banner__info {
  text-align: center;
}

.banner__info h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 70px;
  margin: 0;
  padding-top: 53px;
}

.banner__info span {
  color: #FF6D00;
}

.banner__info p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  padding-top: 84px;
}

.main__menu {
  max-height: 564px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 81px;
}

#menu__toggle {
  opacity: 0;
  margin: 0;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 50%;
}

.menu__btn {
  align-items: center;
  position: absolute;
  right: 0;
  width: 100%;
  height: 38px;
  cursor: pointer;
  z-index: 1;
}

.menu__box {
  display: block;
  visibility: hidden;
  top: 0;
  left: -100%;
  border-top: 1px solid #ffffff;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: linear-gradient(180deg, rgb(255, 109, 0), rgb(255, 179, 0));
  border-radius: 0px 0px 20px 20px;
}

.hamburger-menu {
  position: relative;
}

.catalog__bricks {
  margin-top: 8px;
  margin-left: 24px;
}

.menu__box li {
  padding: 10px 0;
  text-align: center;
}

.catalog__item-last {
  border-top: 1px solid #ffffff;
}

.catalog__item {
  color: #ffffff;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0px 4px 8px 0px rgba(34, 60, 80, 0.2));
  margin: 20px 0;
}

.search > div:after {
  content: "";
  background: #FF6D00;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 31px;
  right: 0;
  transform: rotate(135deg);
}

.search > div > input {
  color: #FF6D00;
  font-size: 16px;
  background: transparent;
  width: 15px;
  height: 15px;
  padding: 10px;
  border: solid 3px #FF6D00;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::-moz-placeholder {
  color: #FF6D00;
  opacity: 0;
  -moz-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}

.search > div > input:-ms-input-placeholder {
  color: #FF6D00;
  opacity: 0;
  -ms-transition: opacity 150ms ease-out;
  transition: opacity 150ms ease-out;
}

.search > div > input::placeholder {
  color: #FF6D00;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::-moz-placeholder {
  opacity: 1;
}

.search > div > input:focus:-ms-input-placeholder {
  opacity: 1;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:not(:-moz-placeholder-shown) {
  width: 250px;
}

.search > div > input:not(:-ms-input-placeholder) {
  width: 250px;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

.top-slider {
  overflow: hidden !important;
}

.slider-inner {
  margin: 0 -500px;
}

.slick-slide {
  margin: 0 500px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-track .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  outline: none;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  visibility: hidden;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

.slider__item-title {
  color: #000000 !important;
  font-size: 50px !important;
  line-height: 60px !important;
  max-width: 475px;
}

.slider__item-title span {
  color: #FF6D00 !important;
  font-size: 50px !important;
  line-height: 60px !important;
  margin-bottom: 30px !important;
}

.slider__text-title {
  color: #000000 !important;
  font-size: 20px !important;
  line-height: 25px !important;
  margin-top: 0 !important;
}

.slider__text {
  color: #000000 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  margin-bottom: 40px !important;
  max-width: 548px;
}

.slider-item img {
  margin: 70px 0 0 30px;
  border-radius: 20px;
}

.slider__btn {
  color: #ffffff;
  background-color: #FF6D00;
  padding: 15px 50px;
  border-radius: 40px;
  outline: none;
}

.slider__btn:hover {
  background-color: #EBA144;
  transition: all 0.3s ease 0s;
}

.slider__cat-style {
  border-bottom: 1px solid #C6C6C6;
}

.slider__cat {
  color: #000000 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  margin-top: 60px !important;
}

.slider__cat-active {
  color: #FF6D00 !important;
}

.product-title {
  font-size: 35px !important;
  line-height: 50px !important;
  color: #000000 !important;
}

.product__img-style {
  position: relative;
}

.product__stars {
  position: absolute;
  left: 90px;
  top: 230px;
}

.product-img:hover {
  transform: scale(1.15);
  transition: all 0.4s ease 0s;
}

.product-add {
  position: absolute;
  left: 109px;
}

.slide {
  max-width: 256px;
  margin: 20px auto;
}

.product-name {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.product-about {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

#counter {
  display: flex;
  justify-content: space-between;
  width: 80px;
  padding: 13px;
  background-color: #FCFCFC;
  border: 1px solid #C6C6C6;
  border-radius: 10px;
  font-size: 14px;
  line-height: 21px;
}

.button-count {
  background: transparent;
  outline: none;
  border: 0;
}

.calc__text-style {
  margin-top: 13px;
  font-size: 20px;
  line-height: 25px;
}

.price-total {
  font-size: 10px !important;
  line-height: 15px !important;
  color: #000000 !important;
  margin: 20px 0 0 0 !important;
}

.product-price {
  font-size: 20px !important;
  line-height: 25px !important;
  color: #FF6D00 !important;
  margin: 0 !important;
}

.product-cart-style {
  margin-top: 16px;
}

.product-cart-style img {
  margin-left: 20px;
}

.owl-item img {
  width: auto !important;
}

.news-slide img {
  max-width: 301px;
  min-height: 226px;
}

.news-title {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.news-time {
  color: #C6C6C6;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}

.news-slide {
  position: relative;
  min-height: 350px;
}

.social {
  margin-top: 85px;
}

.social-title {
  color: #000000 !important;
  font-size: 50px !important;
  line-height: 60px !important;
  margin: 0 0 45px 0 !important;
}

.social-text {
  margin: 0 0 40px 0 !important;
  color: #000000 !important;
  font-size: 14px !important;
  line-height: 21px !important;
}

.social-link a {
  color: #FF6D00 !important;
  font-size: 14px !important;
  line-height: 21px !important;
  letter-spacing: 2px !important;
  margin-right: 75px;
}

.social-link a:hover {
  color: #EBA144;
  transition: all 0.4s ease 0s;
}

.social-link a:last-child {
  margin-right: 0;
}/*# sourceMappingURL=style.css.map */