$text: #000000;
$white: #ffffff;
$gray: #C6C6C6;
$orange: #FF6D00;
$pink: #F3B0A6;
$biege: #EBA144;
$corall: #C7563D;
$violet: #561F51;
$yellow: #FFCD00;
$yellow-dark: #FFB300;
$blue-light: #B3E3EB;
$blue: #80E0EF;